body.akalia-bg {
  background-color: #FFFEFC;
  font-family: 'Montserrat', sans-serif;
  color: #1C1C1C;
}

.akalia-modal {
  background-color: #FFFEFC;
  border-radius: .5rem;
  padding: 1rem;
}

/* Inputs personalizados */
.akalia-input {
  display: flex;
  width: 100%;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 0.5px solid #798D8B;
  background-color: #FFFFFF;
  color: #798D8B;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

/* Icono dentro del input */
.position-relative .toggle-eye {
  position: absolute;
  top: 70%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #798D8B;
}



/* Links */
.link-akalia {
  font-size: 0.85rem;
  color: #305853;
  text-decoration: underline;
}
.link-akalia:hover {
  color: #9E2C21;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: #FFFEFC;
    border: 1px solid #07312d;
}