<footer class="akalia-footer ">
  <div class="akalia-footer-content">
    <div class="akalia-footer-section">
      <ul class="akalia-footer-list">
        <li><h2 class="akalia-footer-title">LEGAL</h2></li>
        <li><a class="akalia-footer-link" href="#">Condiciones de uso</a></li>
        <li><a class="akalia-footer-link" href="#">Política de privacidad</a></li>
        <li><a class="akalia-footer-link" href="#">Política de cookies</a></li>
      </ul>
    </div>
    <div class="akalia-footer-section">
      <ul class="akalia-footer-list">
        <li><h2 class="akalia-footer-title">SOPORTE</h2></li>
        <li><a class="akalia-footer-link" href="#">Preguntas frecuentes</a></li>
        <li><a class="akalia-footer-link" href="/contactanos">Contactar</a></li>
      </ul>
    </div>
  </div>
  <div class="akalia-footer-bar">
    <span class="akalia-footer-copyright">
      &copy; <span id="year"></span> Copyright Akalia
    </span>
  </div>
</footer>
<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>